.App {
  background-color: #3f3160;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  text-align : center;
  border-radius: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#to-do-form input{
  background-color: rgba(27, 112, 137, 1);
  text-align: center;
  border: 0; 
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 10px;
  padding: 0 80px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border: 10;
  background-color:rgba(27, 112, 137, 1); 
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color:#fff;
  margin: 5px;
}
#to-do-form button:focus{
  outline: none;
}

#banjiran {
  background-color: rgba(27, 50, 100, 1);
  font-size: calc(10px + 2vmin);
  color: white;
  border: 0; 
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 10px;
  padding: 0 80px;
  text-align: center;

}

#kuala{

  background-color: rgba(300,30,30,30);
  font-size: calc(10px + 2vmin);
  color: white;
  border: 0; 
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 10px;
  padding: 0 80px;
  text-align: center;

}

#profiles{

  background-color: rgba(30,300,30,30);
  font-size: calc(10px + 2vmin);
  color: white;
  border: 0; 
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 10px;
  padding: 0 80px;
  text-align: center;

}

#header{

  text-align:center;  

}

#symbol{

  background-color: rgba(27,150,300,30);
  font-size: calc(10px + 2vmin);
  color: white;
  border: 0; 
  border-radius: 50px;
  width: 200px;
  height: 40px;
  margin: 10px;
  padding: 0 80px;
  text-align: center;




}